<a href="https://colab.research.google.com/github/Pesanas/ciencia-de-dados-adult/blob/master/ciencia_de_dados_adult.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#My first line: Hello.

teste

In [4]:
import pandas as pd

In [5]:
adult = pd.read_csv('adult_csv.csv', index_col=0)

In [6]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29530 entries, 2 to 0
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       27875 non-null  object
 1   fnlwgt          29530 non-null  int64
 2   education       29530 non-null  object
 3   education-num   29530 non-null  int64
 4   marital-status  29530 non-null  object
 5   occupation      27870 non-null  object
 6   relationship    29530 non-null  object
 7   race            29529 non-null  object
 8   sex             29529 non-null  object
 9   capitalgain     29529 non-null  float64
 10  capitalloss     29529 non-null  float64
 11  hoursperweek    29529 non-null  float64
 12  native-country  28998 non-null  object
 13  class           29529 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.4+ MB

# New Section